@use '../../styles/mixins' as *;
@use '../../styles/variables' as v;

.about {
  padding: 80px 0;
  display: flex;
  justify-content: flex-start; /* aligné à gauche */
}

.inner {
  @include container;
  max-width: 920px;
  margin-left: 5vw; /* léger décalage à gauche */
}

.title {
  font-size: clamp(1.6rem, 3.2vw, 2.2rem);
  margin-bottom: 24px;
  font-weight: 800;
  color: #6e2334
}

.content {
  max-width: 620px; /* resserré pour lisibilité */
  line-height: 1.7;

  p {
    margin: 0 0 14px;
    color: #6e2334;
  }

  strong {
    font-weight: 700;
    color: #6e2334;
  }
}
